.footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: max-content;
    padding: 8px 6px;
    border-radius: 3px;
  background:  linear-gradient( 45deg,aqua,black, blue,rgb(18, 197, 18));
    color: white;
    position: relative;
    margin-bottom: 50px;
   /*background-image: url('images/header-images/istockphoto-1165399909-612x612.jpg');*/
}

.footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;

}

.footer span{
    color: red;

    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;

}
.nav-images-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.nav-image{
    width: 40px;
    border-radius: 500px;
    margin-left: 10px;

}

.footer div div{
    cursor: pointer;
    padding: 4px;
    width: max-content;
}

.footer div div:hover{
    background-color: aqua;
    padding: 4px 8px;
}

p{
    position: absolute;
    bottom: -8px;
    font-size: 12px;
    right: 5px;
    cursor: pointer;
  
}

p a{
    text-decoration:none;
    color: rgb(211, 207, 207);
}