 .sidebar{
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-between;
    background-color: black;
    width: 55%;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 20px 12px;
    color:white ;
    font-weight: 500;
    align-items: start;
    display: none;
     
 }

 .sidebar div{

    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
 }
