.sidebar {
  position: fixed;
  top: 50px;
  left: -80%; /* start hidden off-screen */
  width: 75%;
  height: 90%;
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1000;
  transition: left 0.3s ease; /* smooth slide effect */
}

/* When sidebar is visible */
.sidebar.show {
  left: 0; /* slide in */
}

 .sidebar div{

    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
 }

 .show{
   display:flex;
 }
