body{
  font-family: roboto;
    margin: 0;
}

.page-nav-container{
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 5px;
}
.right-arrow-icon{
  width: 45px;
  padding-top: 5px;
}

.all-movie-info-container{
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: end;
  column-gap: 6px;
  padding: 5px;
}

.image-container{
  width: 100%;
}

.movie-poster-img{
  width: 100%;
}

.movie-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.info-item{
  font-size: 16px;

}
.label{
  font-weight: bold;
}

.movie-desc{
  color: rgb(129, 129, 129);
  font-size: 15px;
}


.title-value{
color: rgb(206, 5, 21);
font-weight: 500;

}
.ratings-value{
  color: brown;
  font-weight: 900;
}


.watch-trailer-button,
.return-button{
padding: 10px 14px;
border: none;
border-radius: 6px;
color: white;
cursor: pointer;
margin-left: 10px;
}

.watch-trailer-button{
  background-color: green;
}

.return-button{
  background-color: brown;
}


.more-like-this-text,
.recommended-for-you-text{
  display: flex;
  margin-top: 25px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 12px;
  color: rgb(149, 6, 192);

}

.similar-movies-container{
  display:flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  scrollbar-width: none;
  gap: 20px;
  
}

.movie-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(189, 76, 11);
  border-radius: 6px;
  
}

.movie-image-container{
  height:200px;
}

.poster-image{
  height: 100%;
}

@media (max-width :500px){
.all-movie-info-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 6px;
}
}


@media (min-width :800px){
 .movie-image-container{
  height:300px;
}

}
